PORT=5000
DATABASE_URL="postgresql://username:password@host:port/db_name?schema=public"
NODE_ENV="development"
OPTIMIZE_API_KEY=key # Prisma Optimize

API_URL=https://localhost:5000/api/v1

# EMAIL
EMAIL_HOST=host
EMAIL_PORT=port
EMAIL_SECURE=boolean
EMAIL_USER=username
EMAIL_PASSWORD=password

MIN_RETRY_DELAY=10000 # 1 * 1000 = 1 минута
CONFIRMATION_EMAIL_TOKEN_EXPIRES_AT=1000000

# JWT
JWT_ACCESS_KEY=secret
JWT_ACCESS_KEY_EXPIRES_IN="1h"

JWT_REFRESH_KEY=secret
JWT_REFRESH_KEY_EXPIRES_IN="24h"

# S3
S3_BUCKET_PRIVATE_NAME=name
S3_BUCKET_PUBLIC_NAME=name

S3_REGION=region
S3_ENDPOINT=endpoint
S3_ACCESS_KEY=access
S3_SECRET_KEY=secret

# FILES 
MAX_FILE_SIZE=1O485760 # 10 МБ
FILE_TYPE="image\/(jpeg|png|webp)|application\/pdf"

# ROUTER AI
ROUTER_AI_URL=https://routerai.ru/api/v1
ROUTER_AI_KEY=secret
ROUTER_AI_MODEL=google/gemini-3-pro-image-preview